---
layout: page
title: "About"
description: "keep young! keep energy!"
header-img: "img/about-bg.jpg"
nav: true
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>写写代码，逛逛Github，看看开源作品。<br>
    世界那么大，我想去看看。</p></blockquote>

    <p>Hi，我是<strong>杨挺</strong>，程序员 &amp; 设计师，<a href="http://dlpu.edu.cn/">大连工业大学</a> · 网络工程 2012 级；
    2017.8-2018.6在PPTV(苏宁文创)从事java工程师工作，从事大数据相关开发，工作主要是PP视频的自动化推送以及短信，站内信自动发送。涉及到的技术主要包括Scala,Hadoop,Hive,HBase,Spark,Kafka,RabbitMQ等。</p>
    <p>目前在<a href="https://www.jianshu.com/u/7a1fbf6a52a0">简书</a>从事推荐系统相关工作。</p>
    <p>个人平时喜欢混迹一些开源社区，对Apache情有独钟。当下正在研究Apache Flink项目。</p>

    <!--<p>一些作品和开源项目，👉 戳 <a href="/portfolio">Portfolio</a> 与 <a href="http://github.com/joyang1">Github</a>；除了在博客写点东西外，我也是 <a href="http://www.gfansub.com/">GDG 字幕组</a>的译者之一、<a href="http://zhuanlan.zhihu.com/FrontendMagazine">前端外刊评论 · 知乎专栏</a>的维护译者之一、<a href="http://zhuanlan.zhihu.com/huxblog">知乎专栏 · 一生想做浪漫极客</a> 的创办者。</p>-->

    <h5>个人简历</h5>

    <ul>
        <li><a href="/resumes/" target="_blank">在线简历</a></li>
        <li><a href="/resumes/2019-resumes.pdf" target="_blank">2019_TommyYang &amp; Zh</a></li>
    </ul>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>Yet another BigData Engineer. <br>
    Yet another Basketball Enthusiast.</p></blockquote>

    <p>My name is <strong>Yang Ting(杨挺)</strong>，you can call me nickname <strong>Tommy</strong>. I studied Network Engineering in <a href="http://en.dlpu.edu.cn/">Dalian Polytechic University</a>.Network Engineering 2012;
	Currently engaged in Java engineers working in PPTV.Work is Java and Big Data development,the work is mainly PP video automatic push and SMS, automatic sending of station letters. The involved technology mainly is Scala,Hadoop,Hive,HBase,Spark,Kafka,RabbitMQ etc.</p>
	<p>Personal is also have more research in mobile development, usually love to develop some small applications. Web development is also more familiar with, there are a lot of experience in the development of web.</p>

    <!--<p>Some of my projects is put on my <a href="{{site.baseurl}}/portfolio">Portfolio 👉</a> and <a href="http://github.com/huxpro">Github 👉</a>. I am also translator of <a href="http://www.gfansub.com/">GDG China</a>, maintainer of <a href="http://zhuanlan.zhihu.com/FrontendMagazine">Frontend Magazine</a> and owner of <a href="http://zhuanlan.zhihu.com/huxblog">Lifelong Romantic Geek</a></p>-->

    <h5>Resumes</h5>

    <ul>
        <li><a href="/resumes/" target="_blank">Online Resumes</a></li>
        <li><a href="/resumes/2019-resumes.pdf" target="_blank">2019_TommyYang &amp; Zh</a></li>
    </ul>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "tommyblog" %}
        data-thread-id="0301294d97fe234d7593ac208a572cba"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Tommy
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

<!--Gitalk评论start  by tommy-->
{% if site.gitalk.enable %}
<!-- 引入Gitalk评论插件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>
<div id="gitalk-container"></div>
  <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    id: md5(window.location.pathname),
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->
