<!DOCTYPE html>
<html lang="en">
<style type="text/css"> 
#top_div{ 
    position:fixed; 
    bottom:80px; 
    right:10px; 
    display:none;
} 
</style> 
<a name="top"><a> 
<div id="top_div"><a href="#top"><img style="cursor: pointer;" src="/img/totop.jpg"></a></div> 

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="{{site.baseurl}}/img/icon_wechat.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>

<script type="text/javascript"> 
window.onscroll = function(){ 
    var t = document.documentElement.scrollTop || document.body.scrollTop;  
    var top_div = document.getElementById( "top_div" ); 
    if( t >= 10 ) { 
        top_div.style.display = "inline"; 
    } else { 
        top_div.style.display = "none"; 
    } 
} 

</script> 
